! ------------------------------------------------------------------------------
! Common
! ------------------------------------------------------------------------------
Xcursor.size:   16

! ------------------------------------------------------------------------------
! Urxvt
! ------------------------------------------------------------------------------
URxvt.font: xft:Meslo LG L for Powerline:size=10
URxvt.scrollBar: false

